.page{
    display: flex;
    flex-direction: column;
}

.section1 {
    position: relative;
    min-height: 100vh;
}

.mascot {
    display: flex;
    position:relative;
    left:35%;
    height: 100vh;
    z-index: 1;
    align-items: center; 
}

.pageTemplate{
    top: 0;
    position:relative;
    z-index: 1;
}

.repeatingSection {
    position: fixed;
    inset: 0;
    z-index: -1;
    overflow: hidden;
    
}

.section2{
    min-height: 100vh;
    z-index: 10;
}