.btnMenu{ /*Estilos para dentro del div contenedor para separar icono de label */
  display:flex;
  align-items: center;
  justify-content: space-between;
  gap:5px;
}
 
.btnMenu:hover,
.active{
  filter: brightness(1.2);
  box-shadow: 5px 3px 3px #000;
  z-index: 30;
  margin: 0;
  transition: all 0.3s ease;
  transform: translateX(25px);
  border-top: 3px #000;
  border-left: 3px #000;
  border-bottom: 3px #000;
}

.btnMenu:hover::before{
  left: -25px;
  width: 25px;
  border-left: 1px solid #000; 
}



.label {
  font-size: 18px;
}

@media (max-width: 768px){
  .btnMenu:hover{
    transform: none;
    padding-left: 20px;
  }
}