.card_grid {
    display: flex;
    flex-wrap: wrap;    
    gap: 20px;          
    justify-content: left;
    padding: 20px;
    padding-left: 100px;
}
.no_cards{
    display:flex;
    flex-direction: column;
    width: 100%;
    gap: 30px;
    padding-top: 20px;
    align-items: center;
}
