.title {
    display: flex;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}

.form {
    margin-top: 4rem;

}

.label {
    background-color: #fbf758;
    font-family:'Inter', sans-serif;
    display:inline-block;
    width: 15rem;
    font-size: 2rem;
    color: #000;
    padding: 5px;
    padding-left: 10px;
    font-weight: 900;
    border: 3px solid #000;
    margin-bottom: 1.5rem;
    margin-right: 7rem;
}

.input {
    width: 15rem;
    height: 3rem;
    border-radius: 15px;
    border: none;
    font-size: 2rem;
}

.userName {
    display: flex;
    align-items: center;
}

.buttonSection{
    display: flex;
    justify-content:center;
    gap: 3rem;
}

.button{
    width: 15rem;
    height: 3rem;
    font-size: 1.5rem;
    color: #000;
    font-weight: 900;
    border: 3px solid #000;
    cursor: pointer;
    box-shadow: 4px 4px 0px #000;
    transition: all 0.1s;
    margin-bottom: 3rem;
    background-color: #f7d51d;
}

.button:hover {
    transform: translate(2px, 2px);
    box-shadow: 2px 2px 0px #000;
}

.button:active{
    transform: translate(4px, 4px);
    box-shadow: 0px 0px 0px #000;
}

