.body {
    margin: 0;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #3fb4c5;
}

.navbar {
    margin-top: 30px;
}

.logo {
    position: fixed;
    left: 10px;
    top: 20px;
}

.mascot {
    display: flex;
    position: absolute;
    top: 30%;
}