.body {
    margin: 0;
    display: flex;
    justify-content: center;
    inset: 0;
    overflow: hidden;
    left:0;
}

.navbar {
    margin-top: 30px;
}

.logo {
    position: absolute;
    left: 0;
    top: 20px;
}
