.shopContainer {
    display: grid;
    grid-template-columns: 1fr 280px; 
    gap: 20px;
    padding: 20px;
    min-height: 100vh;
}

.navbar {
    grid-column: 1 / -1; 
    height: 60px;
}

.header {
    grid-column: 1 / -1;
    text-align: center;
}

.sidebar {
    display: flex;
    justify-content: center;
}

.content {
    padding: 10px;
    grid-column: 1/-2;
}