<<<<<<< HEAD
.content{
=======
.shopContainer {
  display: grid;
  grid-template-columns: 280px 1fr 200px; /* Ancho fijo para el lateral izquierdo */
  gap: 20px;
  padding: 20px;
  min-height: 100vh;
}

.navbar {
    grid-column: 1 / -1; /* Ocupa todo el ancho */
    height: 60px;
}

.header {
    grid-column: 1 / -1;
    text-align: center;
}

/* .header h1 {
    font-size: 4rem;
    margin: 0;
    -webkit-text-stroke: 2px black; /* Borde negro para el texto */
    /* color: white;
} */ 

.sidebar {
    /* Espacio para tus laterales */
    display: flex;
    justify-content: center;
}

.content {
>>>>>>> 0e7c4bf10ced19e02c444141667e84aed36d35b8
    padding: 10px;
}